@using TidalExplorer.Models.Tidal
@model OpenTidl.Models.Base.JsonList<OpenTidl.Models.PlaylistModel>

@{
    ViewBag.Title = "Your Playlists";
    var counter = 1;
}

@section css{
    <link rel="stylesheet" href="/bower_components/datatables/media/css/dataTables.bootstrap.min.css" />
}

<h2>Yer Tidal Playlists</h2>
<table id="playlists-table" class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Created</th>
            <th>Last updated</th>
            <th>Duration</th>
            <th>Tracks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playlist in Model.Items)
        {
            <tr>
                <td>@(counter++)</td>
                <td>
                    @if (playlist.Image != null)
                    {
                        @TidalImage.Render(new ImageViewModel { ImageId = playlist.Image, Dimension = TidalImageDimension.PlaylistPic, CssClasses = "thumb" })
                    }
                </td>
                <td>@Html.ActionLink(playlist.Title, "Playlist", new { playlistUuId = playlist.Uuid })</td>
                <td class="nowrap" data-order="@(playlist.Created?.ToString("u"))">@playlist.Created</td>
                <td class="nowrap" data-order="@(playlist.LastUpdated?.ToString("u"))">@playlist.LastUpdated</td>
                <td class="nowrap text-right" data-order="@playlist.Duration">@DurationFormatter.FormatDuration(playlist.Duration)</td>
                <td class="nowrap text-right">@playlist.NumberOfTracks</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#playlists-table').DataTable({
                paging: false
            });
        });
    </script>
}